.homepage-hero-bg {
  background-image: linear-gradient(to bottom, rgba(26,33,64, 0.52), rgba(81,84,115, 0.73)),
  url('../images/bg_1.jpg');
}

.nk-travel-hero-bg {
  background-image:
  linear-gradient(to bottom, rgba(26,33,64, 0.52), rgba(81,84,115, 0.73)),
  url('../images/bg_travel.jpg');
}

.nk-503-bg {
  background-image:
  linear-gradient(to bottom, rgba(26,33,64, 0.52), rgba(81,84,115, 0.73)),
  url('../images/404.jpg');
}

.nk-tours-bg {
  background-image:
  linear-gradient(to bottom, rgba(26,33,64, 0.52), rgba(81,84,115, 0.73)),
  url('../images/tours.jpg');
}

.nk-events-nsp-bg {
  background-image:
  linear-gradient(to bottom, rgba(26,33,64, 0.52), rgba(81,84,115, 0.73)),
  url('../images/events/nsp-bg.jpeg');
}

.nk-events-yos-bg {
  background-image:
  linear-gradient(to bottom, rgba(26,33,64, 0.52), rgba(81,84,115, 0.73)),
  url('../images/events/yos-bg.jpg');
}

.nk-contact-bg {
  background-image:
  linear-gradient(to bottom, rgba(26,33,64, 0.52), rgba(81,84,115, 0.73)),
  url('../images/contact-bg.jpg');
}

.nk-events-bg {
  background-image:
  linear-gradient(to bottom, rgba(26,33,64, 0.52), rgba(81,84,115, 0.73)),
  url('../images/balloon-bg.jpg');
}

.nk-team-bg {
  background-image:
  linear-gradient(to bottom, rgba(26,33,64, 0.52), rgba(81,84,115, 0.73)),
  url('../images/team-bg.jpeg');
}


.nk-faq-bg {
  background-image:
  linear-gradient(to bottom, rgba(26,33,64, 0.52), rgba(81,84,115, 0.73)),
  url('../images/faq-bg.jpg');
}

.nk-poland-bg {
  background-image:
  linear-gradient(to bottom, rgba(26,33,64, 0.52), rgba(81,84,115, 0.73)),
  url('../images/study/1.jpg');
}

.nk-ukraine-bg {
  background-image:
  linear-gradient(to bottom, rgba(26,33,64, 0.52), rgba(81,84,115, 0.73)),
  url('../images/study/2.jpg');
}



.hp-hero-content {
  width: 150% !important;
}

@media (max-width: 575.98px) {
  .hp-hero-content {
      width: 100% !important;
  } }
