.navbar-dropdown-links {
  color: black;
}

#dropdown-basic {
  border: 0 !important;
  background: none !important;
  box-shadow: none !important;
  font-weight: 500 !important;
  font-size: inherit;
}